*{
    pading: 10px;
    /* background-color: rgb(0, 11, 128); */
    color: white;
    text-align: center;
}

#main-heading {
    color: blueviolet;
    font-weight: 700;
    font-style: italic;
}

.head {
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.box {
    height:100px;
    width: 100px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.nav {
    height: 50px;
    padding: 10px;
    margin: 2px;
    background-color: aqua;
    color: blue;
}

.black {
    background-color: black;
}

.s-page {
    background-color: aqua;
    color: blue;
    display: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    /* color: aqua; */
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.purple {
    background-color: purple;
}